---
BasedOnStyle: Mozilla
ColumnLimit:     120
QualifierAlignment: Right
IncludeCategories:
  - Regex:           '^((<|")boost/)'
    Priority:        4
  - Regex:           '^((<|")(gtest|gmock)/)'
    Priority:        3
  - Regex:           '<[[a-z_].]+>'
    Priority:        5
  - Regex:           '"bcc/"'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
...
