# GitHub Workflows file

name: release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  mkrelease:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

  buildpkg:
    name: Build and Upload Release Asset
    runs-on: ${{ matrix.os }}

    needs: mkrelease

    strategy:
      matrix:
        build: [linux]
        include:
          - build: linux
            os: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run bazel test
        run: bazel test -s --config=ci //...
      - name: Version
        id: version
        run: |
          printf "number=%s\n" "${GITHUB_REF_NAME#v}" | tee -a "${GITHUB_OUTPUT}"
      - name: Build Release Package
        run: bazel build -s --config=ci --config=release --//:version=${{ steps.version.outputs.number }} //:deb
      - name: Output file
        id: outfile
        run: |
          OUTPUT_FILE=$(bazel cquery --config=ci --config=release --//:version=${{ steps.version.outputs.number }} --output=files //:deb | head -1)
          printf "path=%s\n" "${OUTPUT_FILE}" | tee -a "${GITHUB_OUTPUT}"
          printf "name=%s\n" "${OUTPUT_FILE##*/}" | tee -a "${GITHUB_OUTPUT}"
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.mkrelease.outputs.upload_url }}
          asset_name: ${{ steps.outfile.outputs.name }}
          asset_path: ${{ steps.outfile.outputs.path }}
          asset_content_type: application/octet-stream
